body{
    display: grid;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #B5D6B2;
    padding: 50px 80px;
}

header {
    display: inline-block;
    justify-content: space-around;
}

footer {
    display: inline;
}

li {
    list-style-type: none;
}

.about {
    font-size: larger;
}

.external{

    text-decoration: none;
    font-weight: bold;
    color: slateblue;
}    

.external-img {
    padding-right: 50px;
}    

.circled {
    border-radius: 100%;
}    
